
<section>
<div class="user" >
    <img class="pro-pic" src='<%@user.photo%>' alt='Profile-pic'> <br>
  <div class="user-dets">
    <h2 class="user-name"><%=@user.name%></h2>
    <p class='num-posts' >Number of Posts: <%=@user.posts_counter%></p>
  </div>
</div>

<div class="user-bio">
<%= @user.bio %> <br>
</div>

<br>

<% @user.three_most_recent_posts.each do |post| %>
  <div class="user-post">
    <a href="/users/<%= post.author.id %>/posts/<%= post.id %>">
      <h4><%=post.title%></h4>
      <div>
        <p><%=post.text%></p>
        <p>Comments:<%=post.comments_counter%></p>
        <p>Likes:<%=post.likes_counter%></p>
      </div>
    </a>
  </div>
  <br>
<%end%>


<button><%= link_to "See All Posts", user_posts_path(@user) %></button>
</section>